/* Have fun. This is your site. */

body {
  background: black;
}
h1{
  text-align: center;
}
/* Main Container */
main {
  color: whitesmoke;
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;

}
